<div id="foodwrap">
<h1>Management Menu</h1>
<br>
<br>
<%= link_to(("Create a new food"), new_manage_food_path) %>
<br>
<%= will_paginate @foods %>
<table class="table table-striped">
<br>


<tr>
<th>ID</th>
<th>Name</th>
<th>Create at</th>
<th>Action</th>

</tr>
<tr>
      <%= render partial: "list_foods", collection: @foods, as: "food" %>
    </tr>
</table>
</div>
