<h1 class="page-header">Foods Management</h1>
<div id="foodwrap">
<div class="clearfix">&nbsp;</div>
<%= button_to "Create a new food", new_manage_food_path, :class => "btn btn-primary", :method => :get  %>
<br>
<%= will_paginate @foods %>
<table class="table table-striped table-hover">
<tr>
<th>ID</th>
<th>Name</th>
<th>Create at</th>
<th>Action</th>
</tr>
<tr>
      <%= render partial: "list_foods", collection: @foods, as: "food" %>
    </tr>
</table>
</div>
