<div class="item">
    <h5><%= food.name %><h5>

    <div class="image">
        <%= image_tag food.photo.url(:medium) %>
    </div>
    <% link_to("View", manage_food_path(food), method: "get" ) %>

        <i class="icon-map-marker"></i> Price: $<%= food.price %>
      <div class="icon-plus-sign"><%= link_to("Details", menu_path(food), method: "get" ) %> </div>
</div>
