<div>Welcome to New App.<div>
<div><%= @user.email %></div>
<div>
  You have received this email either because you have an account created for you or you have requested to reset your password.
<div>
<div>
  Please click
  <% @resource ||= @user %>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
  to reset your password.
<div>
<br>
<div>Regards,</div>
<div><b>New App</b></div>
