<div id="userwrap">
  <h1>Edit user</h1>
  <br>
  <%= form_for @user, :url => manage_user_url do |f| %>
    <table class="table table-striped">
      <tr>
        <td><%= ("Email") %></td>
        <td>
          <span class="span3">
            <%= f.email_field :email , required: true %>
          </span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span class="span3">
          <%= f.submit "Edit", class: "btn" %>
          </span>

        </td>

      </tr>

    </table>

  <% end %>
</div>

