
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-01.jpg"</img>
      <div class="carousel-caption">
        <h4>First ssss</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item">…</div>
    <div class="item">…</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div id="main">
  <div class="jumbotron">
    <h1>Online Menu</h1>
      <p>Thai Wild Lime - South Yarra takeaway & delivery suburbs</p>
        <div class="btn btn-primary btn-lg"> <%= link_to("View menu", menu_index_path, method: "get" ) %>
        </div>
      </p>
  </div>
  <div class="info">
  Welcome to Thai Wild Lime - South Yarra, Thai Wild Lime is located on Davis Avenue, South Yarra.

  Our menu offers a wide range of Thai specialties such as Seafood Salad, Lamb Massaman Curry, Kaffir Lime Leaves & Lemongrass Sauce, Pineapple & Cashew Nut Fried Rice, Pad Kee Mao Noodle and many more.

You can order online from us by clicking the ORDER ONLINE button and we will deliver our delicious food directly to your front door.

We look forward to serving you.
  </div>
  <br>
    <div class="bs-example">
      <h3 class="list-group-item active">Takeaway</h3>
        <a class="list-group-item">
          <p>Sun - Mon 17:45 to 21:30</p>
          <p>Tue       12:00 to 21:30</p>
          <p>Wed - Sat 17:45 to 21:30</p>
        </a>
    </div>

    <div class="bs-example">
      <h3 class="list-group-item active">Delivery</h3>
        <a class="list-group-item">
          <p>Sun - Wed 17:45 to 21:30</p>
          <p>Thu       12:00 to 21:30</p>
          <p>Fri - Sat 17:45 to 21:30</p>
        </a>
    </div>
</div>

