<div id="main">
<div class="hero-unit">
  <h1>Online Menu</h1>
  <p>Thai Wild Lime - South Yarra takeaway & delivery suburbs</p>
    <div class="btn btn-warning btn-large"> <%= link_to("View menu", menu_index_path, method: "get" ) %>
    </div>
  </p>
</div>
<div class="info">
  Welcome to Thai Wild Lime - South Yarra, Thai Wild Lime is located on Davis Avenue, South Yarra.

  Our menu offers a wide range of Thai specialties such as Seafood Salad, Lamb Massaman Curry, Kaffir Lime Leaves & Lemongrass Sauce, Pineapple & Cashew Nut Fried Rice, Pad Kee Mao Noodle and many more.

You can order online from us by clicking the ORDER ONLINE button and we will deliver our delicious food directly to your front door.

We look forward to serving you.
</div>
<br>
<table >

    <th>
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Takeaway</h3>
      <p>Sun - Mon 17:45 to 21:30</p>
      <p>Tue       12:00 to 21:30</p>
      <p>Wed - Sat 17:45 to 21:30</p>
    </div>
  </li>
</ul>
</th>
<th>
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Delivery</h3>
      <p>Sun - Wed 17:45 to 21:30</p>
      <p>Thu       12:00 to 21:30</p>
      <p>Fri - Sat 17:45 to 21:30</p>
    </div>
  </li>
</ul>
<th>
</table>


