body {
  background-color: #FFFFFF;
  height: 100%;
}

.bodywrap {
  width: 100%;
  min-height: 800px;
  margin: 3px auto;
}

#hmenu {
  height: 40px;
  width: 100%;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 95%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  z-index: 100%;



  div#list-menu {
    width: 80%;
    margin: 0 auto;
    padding-top: 12px;
    float: left;

    a {
      color: #000000;

    }

    a:hover {
    color: #FFCC99;
    text-decoration: none;
    }

    ul {
      margin: 0;
      li {
        display: inline-block;
        margin: 10px;
      }
    }

    table tr th {

      padding-left: 25px;
    }

    li.right-size {
      float: right;
    }
  }
}


a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FF0000;
    text-decoration: none;
}


.notice {
  color: #C58806;
}

.error, .notice {
  margin: 10px 0;
}


footer {
  clear: both;
  background-color: #E0E0E0;
  width: 100%;
}

 div#footer{
    padding-top: 5px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    bottom: -5px;
    color: #FFF;
  }

  .table-menu {

  }
