.wrap{
  line-height: 1%;
  min-height: 10px;
}

.main {
border-radius: 5px;
box-shadow: 0 1px 3px rgba(0,0,0,0.4);

width: 310px;
padding: 20px;
margin: 0 auto;
background: #fcfcfc;
border: solid 1px #eee;
box-shadow: 0 0 7px #eee;

}
body {
background-color:#949EA4;
}

